.instruction-container{
   
    
    margin-left: 2rem;
      
    
}

.instruction-container h4 {
    color: #42403c;
    text-align: center;
}

.lifeline{
    position: relative;
    top: -3px;
}

.lifeline-icon{
    color: green;
    cursor: pointer;
}

/*@media (max-width: 550px){
    .instruction-container img {
        width: 100% !important;
        height: 150% !important;
    }
}*/