
    .scrollbar-primary::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5; }
        
        .scrollbar-primary::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #4d89f7; }
        